*{
    /* border:2px green dashed; */
    margin:0px;
    padding:0px; 
  }
  
  body{
    background-image: url(assets/websitebackground.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    min-width:100%;
    
  }

ul{
    list-style: none;
    justify-content: center;
    line-height: 2.5em;
    
}

  li a:hover {
    color: lightgoldenrodyellow;
  }
  .icon svg {
    width:40%;
  }

  .about{
      grid-area: about;
  
      justify-content: right;
  }
  
  .li p{
      list-style: none;
  }

  /* what contains everything on the page */
  .container{

    /* margin-right:3em; */
    min-width:100%;
    /* width:100%; */
    height:100vh;
    display:grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "icon"
          "nav"
          "content"
          "about"
          "footer";
  }
  
  /* step one: name your sections */
  /* the sections of my about me page */
  .icon,
   nav,
   .content,
   footer{
     padding-left: 3em;
     padding-right: 3em;
     text-align: center;
  }
  
.container1{
    min-width: 80vh;
    background-color: transparent;
    position: relative;
    padding:50%;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
            "insta"
            "email"
            "linkedin"
            "indeed";
}

.insta{
    grid-area: insta;
    
}

.insta svg{ 
    width: 10em;
    color: black;
}

.email svg{ 
    width: 10em;
    
}

.linkedin svg{ 
    width: 10em;
    
}

.indeed svg{ 
    width: 10em;
    
}

.li svg{
    width: 20%;
}

.email{
    grid-area: email;
}

.linkedin{
    grid-area: linkedin;
}

.indeed{
    grid-area: indeed;
}



  .icon svg {
    width:40%;
  }
  
  /* navigation bar styling */
  nav{
    margin-left:2em;
    margin-top: 1.2em;
    grid-area:nav;
    justify-content: center;
    text-align:center;
    padding-left:1em;
    padding-right: 1em;
    background-color: lightseagreen;
    width: 500px;
    
    
    
  }
  nav ul {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.5em;
    
  }

  .contact{
    font-weight: bold;
    color: black;
    
  }
  
  nav li a {
    color: darkslategrey;
    font-weight: 400;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
    opacity: 40%;
  }
  
  nav li a:hover {
    color: lightgoldenrodyellow;
    opacity: 100%;
    text-decoration: none;
    
  }

  /* grid system for desktop */
  @media (min-width:1040px){
    .container{
      width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "nav icon"
            "content content"
            "content content"
            "about about"
            "footer footer";
    }
      nav ul{
        flex-direction: row;
      }
      .icon img {
        width: 10%;
        padding-left:1125px;
        text-align: right;
      }
  
     
  
  }

/* MEDIA QUERY FOR SMALL SCREENS */
@media (max-width:1100px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 }

/* MEDIA QUERY FOR MOBILE */
 @media (max-width:735px){
     nav {
         padding-left: 0;
     }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    }

    .contact {
        padding-bottom: 200%;
        grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". title ."
        ". logo ."
        ". wrapper ."
        ;
    }
    
 }
